@font-face {
	font-family: 'Wasted';
	src: url('../fonts/Wasted.otf');
}

@font-face {
	font-family: 'Code Bold';
	src: url('../fonts/CODE Bold.otf');
}

@font-face {
	font-family: 'Code Light';
	src: url('../fonts/CODE Light.otf');
}

body {
	background-color: #000424;
	font-family: 'Code Light';
	color: #CBD8E1;
}	

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

.box { 
	width: 100%;
	margin-bottom: 1em;
}

/*

	HEADER

*/

.header {
	margin-top: 1em;
}

.profilePic {
	width: 30%;
	padding-left: 1em;
}

.headerText {
	width: 65%;
	float: right;
	text-align: center;
	margin-top: 4em;
}

.headerText h1 {
	font-family: 'Wasted';
	margin: 0;
	font-size: 2.5em;
}

.headerText h4 {
	margin: 2px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #D1CFD4;
}

.headerImg {
	display: none;
}

/*

	FEATURED CONTENT

*/

.featured-content h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #6689A7;
	font-family: 'Code Bold';
	margin: 1em;
}

.projectImage {
	width: 100%;
}

.box h4 {
	text-align: center;
	font-family: 'Code Bold';
	font-size: 2em;
	margin: 0.5em;
}

.projectTitles {
	margin: 1em;
}

.box a {
	margin: 10px;
	color: #CBD8E1;
}

#project1 {
	color: #D1CFD4;
}

#project2 {
	color: #A29CAA;
}

#project3 {
	color: #867A84;
}

@media screen and (min-width: 450px){

}

/* Tablet View */
@media screen and (min-width: 550px){
	#project2, #project3{
		width: 50%;
	}

	.box a:hover{
	color: #6689A7;
}

}

/* Desktop */
@media screen and (min-width: 800px){
	.container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.profilePic {
		padding-left:7em;
		width: 20%;
	}

	.header {
		margin-top: 2em;
	}

	.headerText h1 {
		margin-top: 1em;
		font-size: 5em;
	}

	.headerText h4 {
		letter-spacing: 5px;
	}

}