.headerText {
	margin-top: 6em;
}

.featured-content h1 {
	text-align: left;
}

.box p {
	margin: 3em;
}

/* Larger Screen Breakpoint View */
@media screen and (min-width: 550px){
	.headerText h1 {
		font-size: 3.5em;
	}

	.headerText {
		margin-top: 8em;
	}

	#project2, #project3{
		width: 48%;
		margin: 5px;
	}

	#projectTwo, #projectThree {
		text-align: center;
	}

	#project2 p, #project3 p {
		font-size: 12px;
		margin: 0px;
	}

	.projectTitles {
		font-size: 1.5em;
	}

	.box p {
		margin: 6em;
	}
}